body {
    margin-left: 1%;
    margin-right: 1%;
}
.fej {
    margin: 0 auto 0 auto;
    
}
.rs {
    text-align: center;
    background-color: #cccccc;
    border: 1px solid;
}
#class{
    margin-left:0%;
    margin-right:0%;
}
.divf{
    display:inline-block;
    margin-left:10%;
    
    
   
}
img {
    border-radius: 8px;
    border: 1px solid black;
    width:200px;
}
.h3ver{
    text-align:center;
    text-align:
    
}
